/*   */

/*  BASIC SET UP */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {

    background-color: #fff;
    font-family: 'lato', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    padding: 30px;

}

/* .header {

    height: 25vh;
    background-image: linear-gradient( to right bottom, 
    rgba(126, 214, 110, 0.8) , 
    rgba(40, 180, 131, 0.8)),
     url(./img/hero.jpg);
    background-size: cover;
    position: relative;
    background-position: top;
    clip-path: polygon(0 0, 100% 0 , 100% 75vh , 0 100%);


} */

.white {

    color: #fff;
}

.section-form {


    height: 95vh;
    background-color: #999;
    /* background-image: linear-gradient( to right bottom, 
    rgba(110, 120, 214, 0.699) , 
    /* rgba(40, 42, 180, 0.8)), */
    /* rgba(40, 42, 180, 0.8)): */
    /* url(../img/hero.jpg); */
    background-size: cover;
    position: relative;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

}


/*  REUSABLE COMPONENTS  */


.row {

    max-width: 1140px;
    margin: 0 auto;

}

.box {

    padding: 1%;
    margin-left: 50%
}

section {
    padding: 80px 0;
}

input[type=text],
select[type=text],
textarea {

    width: 50%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}


input[type=password],
select[type=password],
textarea {

    width: 50%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

input[type=email],
select[type=email],
textarea {

    width: 50%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {

    height: 100px;

}

input[type=checkbox] {

    margin: 10px 5px 10px 0;

}


.btn:link,
.btn:visited,
input[type=submit] {

    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    /*color: #fff;*/
    transition: background-color 0.2s, border 0.2s, color 0.2s;

}



/* 	BUTTONS  */

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #3619db;
    border: 1px solid #6758ec;
    color: #fff;
    margin-right: 15px;
}

/* ----- HEADINGS ----- */
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}


table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f5f5f5;
}

.steps-box {
    float: left;
}

td a {

    /* padding: 8px 0;
         color: #fff;
        text-decoration: none;
        /* text-transform: uppercase;
        font-size: 90;  
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.2s;
        float: right; */

    color: rgb(42, 8, 109);
    text-decoration: none;
}

.section-menu-create {

    height: 95vh;
    /* background-image: linear-gradient( to right bottom, 
    rgba(110, 120, 214, 0.699) , 
    rgba(40, 42, 180, 0.8)),
     url(../img/hero.jpg); */
    background-color: #999;
    background-size: cover;
    position: relative;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

/* Main Nav   */

.main-nav {

    list-style: none;
    margin-top: 65px;


}

.main-nav {
    margin-top: 18px;
}


.main-nav li {

    display: inline-block;
    margin-left: 40px;
    float: right;

}


.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    float: right;
}


.main-nav li a:hover,
.main-nav li a:active {

    border-bottom: 2px solid #e67e22;

}